.pagination {
  float: right;
  margin: 24px 32px 24px 0px;
  font-size: 15px;

  .page {
    background-color: var(--gray);
    padding: 12px;
    margin: 4px;
  }
  .active {
    background-color: var(--light-gray);
  }
}
