.secMenu {
  display: none;
  flex-direction: row;
  margin-top: 15px;
  gap: 15px;

  .menu {
    display: flex;
    flex-direction: row;

    margin-right: 60px;
    gap: 10px;

    a {
      display: flex;

      flex-shrink: 0;
      &:hover {
        color: var(--blue);
      }
    }

    svg {
      color: var(--blue);
    }
  }
}

@media (max-width: 1180px) {
  .secMenu {
    display: flex;
  }
}
