.menu {
  display: flex;
  flex-direction: column;
  padding: 32px 6px;

  .active {
    color: var(--blue);
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 32px 0px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      flex-shrink: 0;
    }

    &:hover {
      color: var(--blue);
    }
    svg {
      color: var(--blue);
    }
  }
}

@media (max-width: 1180px) {
  .menu {
    padding: 6px 6px;

    ul {
      display: flex;
      li {
        gap: 8px;
      }
    }
  }
}

/* SECMENU */

.secMenu {
  display: none;
  flex-direction: row;
  margin-top: 16px;
  gap: 16px;

  .active {
    color: var(--blue);
  }

  ul {
    display: flex;
  }

  a {
    display: flex;
    flex-direction: row;

    margin-right: 16px;
    gap: 10px;
    flex-shrink: 0;
    &:hover {
      color: var(--blue);
    }

    svg {
      color: var(--blue);
    }
  }
}

@media (max-width: 1180px) {
  .secMenu {
    display: flex;
  }
}
