:root {
  --black: #000;
  --white: #fff;
  --gray: #f9fafc;
  --dark-gray: #676767;
  --light-gray: #f2f4ff;
  --pink: #ae1feb;
  --light-pink: #edc3ff;
  --yellow: #fdee81;
  --dark-pink: #77189f;
  --light-green: #e5f5eb;
  --green: #479165;
  --light-blue: #e8f6f8;
  --blue: #36a9e1;
  --font-size-md: 18px;
}
