.navbar {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 30px;
  background-color: var(--gray);
}

@media (max-width: 1180px) {
  .navbar {
    display: none;
    flex-direction: row;
  }
}
