.eventDetail {
  margin: -30px;
  .map {
    font-size: 120px;
    color: #4caf50;
    -webkit-animation: load 1s infinite;
    animation: load 1s infinite;
  }

  .iframeWrapper {
    position: relative;
    cursor: default;
  }

  .infoWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;

    .info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 80%;

      .tagWrapper {
        display: flex;
        gap: 6px;

        .locationInfo {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .genre {
        background-color: var(--yellow);
        color: var(--dark-gray);
        border-radius: 15px;
        padding: 8px;
      }

      .date {
        background-color: var(--light-green);
        color: var(--green);
        border-radius: 15px;
        padding: 8px;
      }

      .time {
        background-color: var(--blue);
        color: var(--gray);
        border-radius: 15px;
        padding: 8px;
      }
    }

    .eventImage {
      max-width: 150px;
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
}

@media (max-width: 1180px) {
  .eventDetail {
    padding: 40px 0px;
  }
}
