.eventDetail {
  margin: -32px;
  .map {
    font-size: 120px;
    color: #4caf50;
    -webkit-animation: load 1s infinite;
    animation: load 1s infinite;
  }

  .iframeWrapper {
    position: relative;
    cursor: default;
  }

  .infoWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 10px;

    .info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 97%;

      .bottomSection {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;

        .buttonWrapper {
          display: flex;
          a {
            background-color: var(--blue);
            color: var(--white);
            padding: 8px;
            border-radius: 15px 0px 0px 15px;

            &:hover {
              background-color: var(--dark-blue);
            }
          }
        }

        .tagWrapper {
          display: flex;
          gap: 6px;

          .locationInfo {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .genre {
        background-color: var(--yellow);
        color: var(--dark-gray);
        border-radius: 16px;
        padding: 8px;
      }

      .date {
        background-color: var(--light-green);
        color: var(--green);
        border-radius: 16px;
        padding: 8px;
      }

      .time {
        background-color: var(--blue);
        color: var(--gray);
        border-radius: 16px;
        padding: 8px;
      }
    }

    .eventImage {
      max-width: 150px;
      object-fit: cover;
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
}

@media (max-width: 1180px) {
  .eventDetail {
    padding: 40px 0px;
  }
}
