.eventItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 5px 20px;
  border-radius: 15px;

  gap: 25px;
  font-size: 15px;

  .detailButton {
    background-color: var(--light-green);
    color: var(--green);
    font-weight: 900;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
  }

  .status {
    background-color: var(--light-blue);
    color: var(--blue);
    padding: 4px;
    border-radius: 10px;
  }

  .fullDate {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    svg {
      color: var(--dark-gray);
    }
  }

  .eventTitle {
    font-weight: 600;
    width: 100%;
    max-width: 150px;
  }

  .shortDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    padding: 5px 8px;
    margin-right: 15px;
    border-radius: 15px;

    .numericDate {
      font-weight: 900;
      font-size: 23px;
    }
    small {
      font-size: 12px;
      font-weight: 300;
    }
  }
}
