@mixin flexCenter {
  display: flex;
  align-items: center;
}

.eventItem {
  @include flexCenter;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 5px 20px;
  border-radius: 16px;

  gap: 24px;
  font-size: 16px;

  .detailButton {
    background-color: var(--light-green);
    color: var(--green);
    font-weight: 600;
    border-radius: 32px;
    padding: 16px 32px;
    cursor: pointer;

    &:hover {
      background-color: var(--darker-green);
      transition: background-color 0.2s ease-in;
    }
  }

  .status {
    background-color: var(--light-blue);
    color: var(--blue);
    padding: 4px;
    border-radius: 10px;

    &:hover {
      background-color: var(--darker-blue);
      transition: background-color 0.1s ease-in;
    }
  }

  .fullDate {
    @include flexCenter;
    gap: 6px;
    justify-content: center;
    svg {
      color: var(--dark-gray);
    }
  }

  .eventTitle {
    font-weight: 600;
    width: 100%;
    max-width: 150px;
  }

  .shortDate {
    @include flexCenter;
    flex-direction: column;
    justify-content: center;
    background-color: var(--yellow);
    padding: 6px 8px;
    margin-right: 16px;
    border-radius: 16px;

    .numericDate {
      font-weight: 600;
      font-size: 24px;
    }
    small {
      font-size: 12px;
      font-weight: 300;
    }
  }
}
